<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}">
        <img src="{{ site.baseurl }}/avatar.jpg" alt="{{page.author}}" style="width: 100%; max-width: 250px; border-radius: 50%; box-shadow: 10px   0px 10px -10px rgba(0,0,0,0.5);">
      </a>	
      <h3>
        {{ site.title }}
      </h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      <a class="sidebar-nav-item" href="{{ site.author.url }}">Web</a>
      <span class="sidebar-nav-item">Meaningful</span>
    </nav>

  </div>
</div>
